<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant List</title>
  <!-- link css files here -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- google font-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/7af529b961.js"></script>

</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">
      <span style="font-size: 30px; color: Tomato;"><i class="fas fa-utensils"></i></span>
      Restaurant List
    </a>
    <a href="/users/login" class="btn btn-outline-light">login</a>
  </nav>

  <div class="banner"></div>
  <!-- partial templates will replace the part of "body" here -->

  <div class="container">
    {{{body}}}
  </div>


  <!-- bootstrap-->
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <!-- app.js-->
  <script src="/src/app.js"></script>
</body>

</html>