<h3 class='new-restaurant-title'>Add a Restaurant Info</h3>
<div class="container">
  <div class="card my-4">
    <div class="m-4">
      <form action="/restaurants" method="POST">
        <div class="card-body">
          <div class="form-group">
            <label for="name">Restaurant Name (Chinese) <span style="color:red">*</label>
            <input type="text" class="form-control" name="name" placeholder="Required" required>
          </div>
          <div class="form-group">
            <label for="nameEn">Restaurant Name (English)</label>
            <input type="text" class="form-control" placeholder="" name="nameEn">
          </div>
          <div class="form-group">
            <label for="category">Category <span style="color:red">*</label>
            <select class="form-control" name="category" required>
              <option value="" disabled selected>Select a category</option>
              <option value="中東料理">中東料理</option>
              <option value="日本料理"> 日本料理</option>
              <option value="義式餐廳">義式餐廳</option>
              <option value="美式">美式</option>
              <option value="韓式料理">韓式料理</option>
              <option value="中式料理">中式料理</option>
              <option value="東南亞美食">東南亞美食</option>
              <option value="早餐店">早餐店</option>
              <option value="小吃">小吃</option>
              <option value="下午茶點心">下午茶點心</option>
              <option value="酒吧">酒吧</option>
              <option value="咖啡">咖啡</option>
              <option value="寵物餐廳">寵物餐廳</option>
            </select>
          </div>
          <div class="form-group">
            <label for="image">Image <span style="color:red">*</label>
            <input type="text" class="form-control" placeholder="Image link" name="image" required>
          </div>
          <div class="form-group">
            <label for="image-link">Location <span style="color:red">*</span></label>
            <input type="text" class="form-control"
              placeholder="No. 122, Section 1, Chongqing South Road, Zhongzheng District, Taipei City, 100"
              name="location" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone <span style="color:red">*</label>
            <input type="text" class="form-control" placeholder="0234567890" name="phone" required>
          </div>
          <div class="form-group">
            <label for="googleMap">Google Map</label>
            <input type="text" class="form-control" placeholder="https://goo.gl/maps/KZYDHtTdnVrKQFFM6"
              name="googleMap">
          </div>
          <div class="form-group">
            <label for="rating">Rating <span style="color:red">*</label>
            <input type="text" class="form-control" placeholder="4.5" name="rating" required>
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input type="text" class="form-control" placeholder="http://www.google.com" name="website">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" name="description" rows="2"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-danger">Submit</button>
          <a href="/" type="button" class="btn btn-outline-success">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>